<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title color="postTitle" text-center>Tekraze</ion-title>
    <ion-buttons end>
      <button icon-only ion-button (click)="openSearchPage()"><ion-icon name="search"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label text-right>Sort</ion-label>
    <ion-select [(ngModel)]="sort" (ionChange)="changeSort()">
      <ion-option value="0">New to old</ion-option>
      <ion-option value="1">Old to new</ion-option>
      <ion-option value="2">A to Z</ion-option>
      <ion-option value="3">Z to A</ion-option>
    </ion-select>
  
  </ion-item>
<ion-refresher (ionRefresh)='getPosts($event)' >
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor='let item of items' col-sm-6 col-xs-12 col-md-4 col-lg-3>
        <ion-card>
          <img height="180px" (click)="openDetail(item)" src="{{item._embedded['wp:featuredmedia'][0].source_url}}">
          <ion-card-content>
            <ion-row>
                <ion-card-title (click)="openDetail(item)" color="black" item-right>
                    <div text-center [innerHTML]="item.title.rendered" ></div>
                </ion-card-title>
            </ion-row>
            <ion-grid>
              <ion-row>
                <ion-item (click)="openDetail(item)" col-sm-8 col-md-8 col-xs-8>
                  <ion-avatar item-start>
                      <img height="290px" src="{{item._embedded.author[0].avatar_urls['48']}}"/>
                  </ion-avatar>
                  <h2 color="secondary">{{item._embedded.author[0].name}}</h2>
                  <ion-badge color="second">
                          {{api.getCategoryName(item.categories[0])}} &nbsp;
                  </ion-badge>
                      <br>
                  <ion-badge color="light">
                          <ion-icon name="time"></ion-icon>&nbsp;{{ item.date | timeAgo}}
                  </ion-badge>
                </ion-item>
               <ion-item col-sm-3 col-xs-2 col-md-2>
                  <button color="dark" ion-button block (click)="share(item.excerpt.rendered,item.title.rendered,item._embedded['wp:featuredmedia'][0].source_url,item.link)">
                        <ion-icon name="share"></ion-icon>
                    </button>
                </ion-item>
              </ion-row>
  
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
      <div *ngIf="isLoading && page==1" text-center padding>
          <ion-spinner></ion-spinner>
        </div>
      <ion-infinite-scroll (ionInfinite)="getPosts($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>
