<ion-header>
  <ion-navbar color="custom-1">
    <ion-input type="Search" [(ngModel)]="searchQuery" (ionChange)="onSearch()" placeholder="Search...">Search</ion-input>
    <ion-buttons end>
      <button icon-button icon-only (click)="clearSearch()" *ngIf="searchQuery.length>0"> 
        <ion-icon md="md-close" ios="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="content-background" padding>
  <ion-row>
    <ion-col *ngFor='let item of items' col-sm-6 col-xs-12 col-md-4 col-lg-4>
        <ion-card (click)="openDetail(item)">
            <img height="290px" src="{{item._embedded['wp:featuredmedia'][0].source_url}}">
            <ion-card-content>
              <ion-card-title>
                {{item.title.rendered}}
                </ion-card-title>
                <ion-row>
                  <ion-badge color="second">
                    {{api.getCategoryName(item.categories[0])}}
                  </ion-badge>
                  <ion-badge color="light">
                    <ion-icon name="time"></ion-icon>
                    {{item.date| timeAgo }}</ion-badge>
                </ion-row>
            </ion-card-content>
          </ion-card>    
    </ion-col>
  </ion-row>
      <div *ngIf="isLoading" text-center padding>
        <ion-spinner></ion-spinner>
      </div>
      <button *ngIf="showLoadMore" ion-button full (click)='getPosts()'>Load More Posts</button>
</ion-content>
