<!-- Header bar -->
<ion-header>
  <ion-navbar color="custom-1">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>  
    </button>
    <ion-title text-center> <div [innerHtml]="post.title.rendered"></div></ion-title>
  </ion-navbar>
</ion-header>

<!--Content-->
<ion-content  class="content-background">

  <!-- Image And Author Div -->
  <ion-grid no-padding>
    <ion-row wrap>  
      <ion-col col-xs-12 col-sm-12>
          <!-- Post Image -->
        <ion-card no-padding>
          <img height="190px" text-center padding src="{{post._embedded['wp:featuredmedia'][0].source_url}}">
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-xs-12 col-sm-12>
          <!-- Post Title -->
        <ion-item class="content-background">
          <h2 text-wrap text-center color="custom-2" [innerHtml]="post.title.rendered"></h2>
        </ion-item>
          <!-- Post Author -->
        <ion-item text-center class="content-background">
          <ion-avatar>
            <img class="avatars" src="{{post._embedded.author[0].avatar_urls['48']}}"/>
          </ion-avatar>
          <h2 color="secondary">{{post._embedded.author[0].name}}</h2>
        </ion-item>
          <!-- Category And Time -->
        <ion-item text-center class="content-background">
          <ion-badge color="second">
            {{api.getCategoryName(post.categories[0])}}
          </ion-badge>
          <ion-badge color="custom-5">
            <ion-icon name="time"></ion-icon>&nbsp;{{post.date| timeAgo}}
          </ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- Post Content -->
  <div padding-right padding-left class="post-content" [innerHTML]="post.content.rendered"></div>
    
  <!--Emote-->
  <ion-card>
    <ion-row>
      <ion-col col-sm-12 col-md-12 col-xs-12>
        <iframe id="vukkle_emote" width="100%" height="100%" seamless style="border:0;"
            sandbox="allow-popups-to-escape-sandbox allow-popups allow-forms allow-scripts allow-same-origin" 
            scrolling="auto" [src]="vukkelEmoteSanitizedUrl">
        </iframe>
      </ion-col>
    </ion-row>
  </ion-card>
    <!-- Comments -->
    <ion-card>
      <ion-row>
        <ion-col col-sm-12 col-md-12 col-xs-12>
          <iframe id="vukkle_comment" sandbox="allow-popups-to-escape-sandbox allow-pointer-lock  allow-popups allow-forms allow-scripts allow-same-origin" 
           style="border:0;" width="100%" height="290px" 
          scrolling="auto" 
          [src]="vukkelCommentsSanitizedUrl">
        </iframe>
        </ion-col>
      </ion-row>
    </ion-card>
<!-- Sharing buttons-->
<ion-fab right bottom>
    <button ion-fab color="dark"><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab color="dark" (click)="instaShare()"><ion-icon name="logo-instagram"></ion-icon></button>
      <button ion-fab color="dark" (click)="twitterShare()"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab color="dark" (click)="whatsappShare()"><ion-icon name="logo-whatsapp"></ion-icon></button>
      <button ion-fab color="dark" (click)="facebookShare()"><ion-icon name="logo-facebook"></ion-icon></button>
    </ion-fab-list>
</ion-fab>
  <!-- Related Posts -->
  <ion-item padding-left item-center color="custom-5">
    <h2 text-center>Related Posts</h2>
  </ion-item>
  <!-- Line -->
  <hr style="height:2px;" color="custom-2">
  
  <!-- Related Posts Loader/Spinner -->
  <div *ngIf="isLoading" text-center padding>
    <ion-spinner></ion-spinner>
  </div>
    
  <!--Related Post Card-->
  <ion-grid>
    <ion-row>
      <ion-col col-lg-3 col-sm-6 col-xs-12 col-md-4 *ngFor='let item of relateditems'>
        <ion-card (click)="openDetail(item)">
          <!-- Post Image -->
          <img height="165px" src="{{item._embedded['wp:featuredmedia'][0].source_url}}">
          <!-- Title And Avatar -->
            <ion-item>
              <ion-avatar item-start>
                <img src="{{item._embedded.author[0].avatar_urls['48']}}"/>
              </ion-avatar>
              <h2 text-wrap color="custom-2" [innerHTML]="item.title.rendered"></h2>
            </ion-item>
          <!-- Categories Time and Share -->
            <ion-item>
              <ion-badge color="second">
                {{api.getCategoryName(item.categories[0])}}
              </ion-badge>
              <ion-badge color="custom-5">
                <ion-icon name="time"></ion-icon>
                  {{item.date | timeAgo }}
              </ion-badge>
              <ion-badge item-end color="dark" ion-button round 
                  (click)="share(item.excerpt.rendered,item.title.rendered,item._embedded['wp:featuredmedia'][0].source_url,item.link)">
                <ion-icon name="share">&nbsp;Share</ion-icon>
              </ion-badge>      
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
