page-detail {
    .comment{
        border-bottom: solid 1px #ccc;
        h1{
            text-align: center;
        }
    }

    .comment-item{
        border-bottom: solid 1px #ccc;
    }

    .tot {
        display: none;
      }

    .post-content > h1 {
        color: #501537;
    }  

    .post-content > h2{
       color:  #31081F
    }
    .post-content > h3{
        color:  #6B0F1A
    }
    .post-content > h4{
        color:  #BF4E30
    }

    .post-content > h5 {
        color: #6C464F;
    }

    .post-content > h6 {
        color: #6C464F;
    }

    .post-content > b,strong {
        color: #6C464F;
    }

    .post-content {
        border: 4px black;
        border-radius: 5px;
    }

    .post-content > .prettyprint {
        border: #31081F;
        color: white;
        border-radius: 8px;
        padding: 10px;
        background-color: black;   
    }

    .su-note {
        background-color: #C7F0BD;
        padding: 20px;
        border-radius: 10px;
    }
}
